@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700');

@font-face {
  font-family: 'XPIcons';
  src:  url('src/assets/fonts/XPIcons.eot?xsmoux');
  src:  url('src/assets/fonts/XPIcons.eot?xsmoux#iefix') format('embedded-opentype'),
    url('src/assets/fonts/XPIcons.ttf?xsmoux') format('truetype'),
    url('src/assets/fonts/XPIcons.woff?xsmoux') format('woff'),
    url('src/assets/fonts/XPIcons.svg?xsmoux#XPIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}
